<div class="card mb-4 box-shadow">
  <div class="card-header">
    <h4 class="my-0 font-weight-normal"></h4>
  </div>
  <div class="card-body">
    <h1 class="card-title pricing-card-title">ALTA</h1>
    <input type="text" name="" id="" [(ngModel)]="producto.nombre" />
    <input type="text" name="" id="" [(ngModel)]="producto.precio" />
    <button
      type="button"
      class="btn btn-lg btn-block btn-outline-primary"
      (click)="Guardar()"
    >
      Guardar
    </button>
  </div>
</div>
